{% extends 'base.html.twig' %}

{% block title %}Success Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>Post enregistré</h3>

            {{ post }}
    </div>
{% endblock %}